*{
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

html{
    scroll-behavior:smooth;
}



.navbar{
    display: flex;
    background-color: rgb(0, 0, 0);
    justify-content: space-around;
    padding: 10px;
    height: 5rem;
    align-items: center;   
    box-sizing: border-box;
    width: 100%;
}

.titles{
    margin:  0 10px 0 10px;
}

.navbar h2{
    height: 100%;
    font-weight: 800;
    color: #00DD98;
    font-size: 2.2rem;
}

.ar{
    color: white;
}

.navbar ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}

.navbar ul li{
    padding: 1rem;
    font-weight: 400;
}

.container{
    background-color: black;
    width: 100%;
    height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}

.container h5{
    color: #00DD98;
    font-size: .9rem;
}

.container h1{
    font-size: 3.5rem;
}

.container h3{
    font-size: 2.3rem;
}

.container h6{
    font-weight: 500;
    font-size: 1.2rem;
    color: rgb(112, 112, 112);
}

.btn{
    background-color: #00DD98;
    text-decoration: none;
    padding: 1rem 3rem;
    border-radius: .3rem;
    color: black;
    font-weight: 700;
}

.divisas{
    min-height: 100vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
}

.divisas h1{
    color: black;
}

.cotizaciones{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    min-height: 50%;
    margin: auto;
}


.compraventa, .precios{
    display: flex;
    color: white;
    justify-content: space-around;
}



.cards{
    background-color: rgba(0, 0, 0, 0.986);
    width: 23rem;
    height: 10rem;
    display: flex;
    flex-direction: column;
    border-radius: .5rem;
    overflow: hidden;
}

.tipoDiv{
    background-color:#00DD98;
    padding: 10px;
    text-align: center;
}

.btnInfo{
    text-align: center;
    margin-top: 10px;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnInfo a{
    background-color: #00DD98;
    padding: .2rem 2rem;
    border-radius: .3rem;
    text-decoration: none;
    color: black;
    font-weight: 700;
}

.btnInfo span{
    color: rgba(255, 255, 255, 0.59);
    font-size: .7rem;
}

.info{
    padding: .6rem;
}

.select-menu{
    position: relative;
    margin: 20px 0;
}

.select-menu.active .options{
    display: block;
}

.select-btn{
    display: flex;
    align-items: center;
    background-color: rgb(244, 244, 244);
    height: 3rem;
    width: 15rem;
    justify-content: center;
    gap: 20px;
    font-weight: 600;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 0 5px rgb(0, 0, 0, 0.3);
    position: relative;
}

.options{
    position: absolute;
    width: 100%;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0 0 5px rgb(0, 0, 0, 0.3);
    list-style: none;
    margin-top: 10px;
    display: none;
}

.options .option{
    display: flex;
    min-height: 3rem;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    padding:20px 30px;
}

.options .option:hover{
    background-color: #F2F2F2;
}

.actualizacion-text{
    font-size: 0.8rem;
    padding: 20px;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.568);
}

.navbar-links li a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.837);
}



.imag img {
    max-width: 100%;
    overflow: hidden;
    max-height: 700px;
}


.description{
    height: 100vh;
    background-color: black;
    font-family: 'Inter', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.divis{
    color: #00DD98;
}

.titles_descrpition{
    color: white;
    max-width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
    align-items: center;
    box-sizing: border-box;
    padding: 40px;
}

.titles_descrpition h3{
    font-size: 3rem;
}

.titles_descrpitions p{
    font-size: 1.3rem;
    font-weight: 500;

}

.divisar{
    font-weight: 800;
}


.tipos-dolar{
    height: 100vh;
    background-color: #00dd978e;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.cardSection{
    background-color: white;
    width: 70%;
    height: 40rem;
    border-radius: 20px;
    display: flex;
}

.nav-bar{
    box-sizing: border-box;
    min-width: 30%;
    background-color: #84f3d045;
}

.nav-bar{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.nav-bar ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    padding: 0 20px 20px 20px;
    gap: 12px;
}

.nav-bar h4{
    font-size: 1.6rem;
    padding: 20px 0 0 0;
    color: #087c57;
}

.nav-bar ul li{
    padding: 20px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    gap: .5rem;
    cursor: pointer;
}

.explication{
    min-width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding: 2rem;
    gap: 2rem;
    justify-content: center;
}

.explication h3{
    font-size: 3rem;
}

.explication p{
    font-size: 1.2rem;
}

.element-list.active{
    background-color:#00dd9727;
    transition: .2s all;
}


footer{
    height: 10rem;
    background-color: black;
    color: white;
    padding: 20px;
    display: flex;
    align-items: center;
}

.container-footer{
    display: flex;
}

.descargo h5{
    font-size: 1.5rem;
}

.descargo .ar{
    color: #00DD98;
}

.descargo{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.agradecimientos{
    padding: 2rem;
    border-left: 1px solid white;
}

.agradecimientos a{
    color: blue;
}













@media (max-width:790px) {
    .imag img{
        display: none;
    }

    .titles_descrpition{
        max-width: 100%;
    }

    .navbar ul{
        display: none;
    }

    .container{
        width: 100%;
        overflow: hidden;
    }

    .titles_descrpition h3{
        text-align: center;
    }

}